{% extends 'base.html' %}
{% block content %}
        <h1 class="tx-center">Ciaone Biellone!</h1>
        <p class="tx-center">Il team ha bisogno della miglior scimmmia della storia!</p>
        <p>Per potersi iscrivere con successo alla competizione di Varano non possiamo fare affidamento solo sulla tecnologia.</p> 
        <p>Abbiamo bisogno del dito più veloce del web per portarci a casa il box migliore e un bel biglietto per l'autodromo di Varano de Melegari.</p> 
        <p>L'obiettivo &egrave; quello di affiancare la compilazione automatica del form di iscrizione a Varano da un umano molto veloce (d'ora in poi il "dito più veloce" o "la scimmia") nel typing.</p>
        <p>In questo modo aumentiamo le probabilit&agrave; di portare a buon fine l'iscrizione e di recuperare un buon piazzamento nel Paddock.</p>
        <p>Ma desso tocca a te: sei pronto per questa sfida entusiasmante? Ecco le istruzioni: </p>
        <ul class="instructions">
            <li class="group">
                <span>1</span>
                <span>Clicca sul pulsante "Challenge Accepted!" qui sotto per iniziare la prova!</span>
            </li>
            <li class="group">
                <span>2</span>
                <span>Se non l'hai già fatto, registrati con il tuo nome, un tua mail (quella di ateneo) e imposta una password (non quella che usi di solito, scegline una numerica di 4 cifre!). Altrimenti, loggati semplicemente!</span>
            </li>
            <li class="group">
                <span>3</span>
                <span>Al termine della registrazione, clicca su "Inizia Prova". Dopo un conto alla rovescia iniziale, dovrai compilare alla massima velocità possibile tutti i campi che ti verranno presentati con il suggerimento che trovi alla destra del campo di inserimento del testo. Attenzione: tutti i campi sono in inglese!</span>
            </li>
            <li class="group">
                <span>4</span>
                <span>Una volta conclusi tutti i campi clicca su "Finito!" in fondo alla pagina. Ti comparirà il tempo che hai impiegato a compilare e quindi, cliccando su "Classifica" o "Le mie prove" nel menù in alto, potrai vedere i risultati degli altri e il tuo personalissimo ruolino di marcia (l'elenco delle prove che hai effettuato!). </span>
            </li>
        </ul>
        <p>Il vincitore della gara avrà l'onore e l'onore di compilare il modulo ufficiale (identico al fac-simile qui proposto) il giorno dell'iscrizione al circuito di Varano (ovvero mecoledì 18). Ovviamente non sarà l'unico metodo che useremo per accaparrarci il posto: avremo due o tre procedure automatizate, ma per sicurezza e amore per la ridondanza, vogliamo che anche un umano prenda parta a questa entusiasmante corsa contro il tempo. </p>
        <p class="tx-bold">E tu cosa aspetti? Scala la vetta del successo e buttati nella  mischia digitale!</p>
        <a class="btn" href="/login">Challenge Accepted!</a>
{% endblock %}
