{% extends 'base.html' %}
{% block content %}
<h1 class="tx-center countdown">Profilo di {{context.user.name}}</h1>
{% if context.tries | length > 0 %}
<ul class="try-list">
  <li class="list-header group">
    <div class="rank">
      <span>#</span>
    </div>
    <div class="user">Utente</div>
    <div class="date">Data</div>
    <div class="hour">Ora</div>
    <div class="time">Tempo</div>
  </li>
  {% for try in context.tries %}
  <li class="list-elem group">
  <div class="rank">
    {% if loop.index == 1 %}
    <span class="gold">{{loop.index}}</span>
    {% elif loop.index == 2 %}
    <span class="silver">{{loop.index}}</span>
    {% elif loop.index == 3 %}
    <span class="bronze">{{loop.index}}</span>
    {% else %}
    <span>{{loop.index}}</span>
    {% endif %}
  </div>
    <div class="user">{{context.user.name}}</div>
    <div class="date">{{try.date}}</div>
    <div class="hour">{{try.hour}}</div>
    <div class="time">{{try.time}} s</div>
  </li>
  {% endfor %}
</ul>
{% else %}
<p class="tx-center countdown">Non hai ancora fatto nessuna partita!</p>
<a class="btn" href="/prova">Prova!</a>
{% endif %}

{% endblock %}
